Source: beaver
Section: utils
Priority: optional
Maintainer: Emmanuel Rousseaux <emmanuel.rousseaux@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <http://emmanuel.rousseaux.me/beaver>
#Vcs-Git: git://git.debian.org/collab-maint/beaver.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/beaver.git;a=summary

Package: beaver
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>= 2), exif, imagemagick
Description: Rename photos and videos by shooting date.
 This command-line utility allows to easily rename your photos (and videos) by shooting date. If your photos come from various sources (e.g. you used different cameras, or you want to pool friend's or colleague's photos with yours) you have to take care that cameras have to be synchronized to have your photos properly sorted. As it is usually not the case, this utility will help you to synchronized photos taken by non-synchronized cameras. You can also resize photos to standard sizes (720p, 1080p, 4K, etc.) to prepare them for archiving or make them lighter for sharing.
